RewriteEngine on
RewriteBase /stockproject/
RewriteRule ^(AddOrder|Buy|Product|AddProduct|Category|HisProduct|OrderAll|ExportData)?$ index.php?a=$1 [L]
RewriteRule ^ProductEdit/(.*)?$ index.php?a=editProduct&id=$1 [L]
RewriteRule ^detailOrder/(.*)?$ index.php?a=detailOrder&id=$1 [L]
RewriteRule ^Sell/sale?$ index.php?a=edit&id=$1 [L]
RewriteRule ^search/(.*)?$ index.php?a=search&search=$1 [L]
RewriteRule ^settings/(.*)?$ index.php?a=settings&settings=$1 [L]
RewriteRule ^(login|register)?$ user.php?a=$1 [L]
RewriteRule ^logout logout.php [L]

